input{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
select{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.barra_arriba {
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 90px;
}
.spotify{
    width: auto;
    height: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

.logo {
    max-width: 100%;
    height: auto;
}
.carrito{
    a {
        color: rgb(0, 0, 0);
        text-decoration: none; 
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        margin-left: 6px;
      }
    a:visited {
        color: rgb(0, 0, 0); 
      }
      .carrito {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center; 
    }   
      
}
.boton-carro{
    background-color: #050404;
    height: 50px;
    width: 50px;
} 

.titulo_marca {
    margin: auto;
    text-align: auto;
    font-size: x-large;
    a{
        color: #000000;
    }
    a:visited{
        color: #000000;
    }
    a {
        color: rgb(0, 0, 0);
        text-decoration: none; 
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        margin-left: 6px;
      }
    a:visited {
        color: rgb(0, 0, 0); 
      }
}
.codigo{
    margin-right:10px;
}
.imagenes_ropa {
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    margin: auto;
    max-width: 100%;
}
.presentacion{
    width: 1200px;
    height: 300px;
}
.imagen_uno{
    max-width: 100%;
    height: 300px;
}
.imagenes_venta{
    border: 5px solid #000000;
    margin: 0 auto;
    max-width: 1142px;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 7px black;
}
.imagenes_venta div {
            
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
    width: 377px;
    height: 377px;
}

.imagenes_venta div img {
    transition: opacity 0.5s ease-in-out;
}

.imagenes_venta div:hover img {
    opacity: 0;
    
}

.imagenes_venta div:hover::before {
    content: '';
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.primera_imagen {
    display: inline-block;
    transition: transform 0.7s ease; 
}

.primera_imagen:hover::before {
    background-image: url(../imagenes/pre_buzo.jpg);
    display: inline-block;
    transform: scale(1.05); 
    transition: transform 0.7s ease;
}.segunda_imagen:hover::before {
    background-image: url(../imagenes/pre_jean.jpg);
    
    display: inline-block;
    transform: scale(1.05);
    transition: transform 0.7s ease;
}
 HEAD
.segunda_imagen {
display: inline-block;
transition: transform 0.7s ease;
}

.segunda_imagen:hover {
.tercera_imagen:hover::before {
    background-image: url(../imagenes/pre_buzo.jpg);
    display: inline-block;
    transform: scale(1.05); 
    transition: transform 0.7s ease;
}
}
.cuarta_imagen:hover::before {
    background-image: url(../imagenes/pre_jean.jpg);
    display: inline-block;
    transform: scale(1.05); 
    transition: transform 0.7s ease;
}
.quinta_imagen:hover::before {
    background-image: url(../imagenes/pre_buzo.jpg);
    
    display: inline-block;
    transform: scale(1.05); 
    transition: transform 0.7s ease;
}
.sexta_imagen:hover::before {
    background-image: url(../imagenes/pre_jean.jpg);
    
    display: inline-block;
    transform: scale(1.05); 
    transition: transform 0.7s ease;
}
.septima_imagen:hover::before {
    background-image: url(../imagenes/pre_buzo.jpg);
    
    display: inline-block;
    transform: scale(1.05); 
    transition: transform 0.7s ease;
}
.octava_imagen:hover::before {
    background-image: url(../imagenes/pre_jean.jpg);
    
    display: inline-block;
    transform: scale(1.05); 
    transition: transform 0.7s ease;
}
.novena_imagen:hover::before {
    background-image: url(../imagenes/pre_buzo.jpg);
    
    display: inline-block;
    transform: scale(1.05); 
    transition: transform 0.7s ease;
}
.imagenes_ropa{
    height: max-content;
        width: max-content;
    }
.imagenes_ropa{
    box-shadow: 10px 10px 20px rgba(2, 12, 104, 0.5);
}

.barra_abajo {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
}
.categoria_src {
    box-shadow: inset;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.lista_ord{
    margin-left: auto;  
}
.lista_ord label{
    display: none;
}
.busq{
    margin-left: auto;
    background-color: rgb(255, 255, 255);
}
.busq:hover{
    transform: scale(0.9);
    transition: 1s;
}
.lista_ord:hover{
    transition:1s;
    transform: scale(1.05);
}
.carrito:hover{
    transform: scale(0.8);
    transition: 1s;

}
.selecionar_zona:hover{
    transition: 1s;
    transform: scale(1.05);
    background-color: black;
}
.seleccionar_zona{
    position: relative;
    display: inline-block;
    margin-left: 20px;
}


.caja_select {
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.opciones{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}


.opciones a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.opciones a:hover {
    background-color: #f1f1f1;
}


.caja_select:hover .opciones {
    display: block;
}


.caja_select:hover {
    background-color: #2980b9;
}
.titulo_marca{
    margin-left: 350px;
    display: inline-block;
    transition: transform 0.3 ease;
}
.titulo_marca :hover{
    transform: scale(1.10);
    transform: rotate(360deg);
}
.titulo_marca{
    display: inline-block;
font-size: 25px;
font-weight: bold;
text-shadow: 2px 3px 8px;
text-align: center;
top: 5%;
Left: 42% color rgb(81, 30, 14);
padding-bottom: 17px;
}

.titulo_marca span {
color:white;
}

.uno{
display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 3s ease-in-out infinite;
animation-delay: calc(var(--i)*00.1s); 
}
.dos{
    display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 2s ease-in-out infinite;
animation-delay: calc(var(--i)*00.1s); 
}
.tres{
    display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 2.5s ease-in-out infinite;
animation-delay: calc(var(--i)*00.1s); 
}
.cuatro{
    display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 3s ease-in-out infinite;
animation-delay: calc(var(--i)*00.4s); 
}
.cinco{
    display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 1.5s ease-in-out infinite;
animation-delay: calc(var(--i)*00.1s); 

}

.seis{
    display: inline-block;
    animation: wave 1s  ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s); 
    color: white;
    display: inline-block;
    animation: wave 3s ease-in-out infinite;
    animation-delay: calc(var(--i)*00.1s); 
    }
    .siete{
        display: inline-block;
    animation: wave 1s  ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s); 
    color: white;
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    animation-delay: calc(var(--i)*00.1s); 
    }
    .ocho{
        display: inline-block;
    animation: wave 1s  ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s); 
    color: white;
    display: inline-block;
    animation: wave 2.5s ease-in-out infinite;
    animation-delay: calc(var(--i)*00.1s); 
    }
    .nueve{
        display: inline-block;
    animation: wave 1s  ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s); 
    color: white;
    display: inline-block;
    animation: wave 3s ease-in-out infinite;
    animation-delay: calc(var(--i)*00.4s); 
    }
    .diez{
        display: inline-block;
    animation: wave 1s  ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s); 
    color: white;
    display: inline-block;
    animation: wave 1.5s ease-in-out infinite;
    animation-delay: calc(var(--i)*00.1s); 
    }
    .once{
        display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 3s ease-in-out infinite;
animation-delay: calc(var(--i)*00.4s); 
    }        
@keyframes wave{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
.select-redondo{
    border-radius: 20px;
    padding: 5px;
    border: 1px solid black;
}
.select-redondo:hover{
    transition: 1s;
    background-color: #000000;
    color: #f1f1f1;
}
.busq input{ 
    border-radius: 10px;
    padding: 3px;
    border: 1px solid black;
}

.busq button{ 
    padding: 2px;
    background-color: white;
    border: 0.1px;
}
.layout {
    border:1px #000000;
    width: 50px;
  
    display: grid;
    grid:
      "primera_imagen segunda_imagen tercera_imagen" 1fr
      "cuarta_imagen quinta_imagen sexta_imagen" 1fr
      "septima_imagen octava_imagen novena_imagen" 1fr
      / 1fr 1fr 1fr;
    gap: 5px;
  }
  
  .primera_imagen { grid-area: primera_imagen; }
  .segunda_imagen { grid-area: segunda_imagen; }
  .tercera_imagen { grid-area: tercera_imagen; }
  .cuarta_imagen { grid-area: cuarta_imagen; }
  .quinta_imagen { grid-area: quinta_imagen; }
  .sexta_imagen { grid-area: sexta_imagen; }
  .septima_imagen { grid-area: septima_imagen; }
  .octava_imagen { grid-area: octava_imagen; }
  .novena_imagen { grid-area: novena_imagen; }
  .linea_progreso{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #000000;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 1s ease;
      }
      .busq :hover .linea_progreso{
        transform: scaleX(1);
  }
.texto_img{
    margin: auto;
    margin-top: 3px;
    margin-left: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: font-size 0.3s ease;
    font-size: 15px;
    position: relative;
    color: gray;
}
.secciones{
    margin-right: 10px;
    a {
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 5px rgb(63, 63, 63);
        margin-left: 6px;
      }
    a:visited {
        color: rgb(230, 223, 223); 
      }
}
.tienda_boton{
    padding: 2px;
    background-color: white;
    border: 0.1px;
    border-radius: 20px;
}
.tienda_boton label{
    border-radius: 20px;
    padding: 3px;
    border: 1px solid black;
}
.tienda_boton:hover{
    transition:1s;
    transform: scale(1.05);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
 }
 .lanzamiento_boton{
    padding: 2px;
    background-color: white;
    border: 0.1px;
    border-radius: 20px;
}
.lanzamiento_boton label{
    border-radius: 20px;
    padding: 3px;
    border: 1px solid black;
}
.lanzamiento_boton:hover{
    transition:1s;
    transform: scale(1.05);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
 }
 .pantalones_boton{
    padding: 2px;
    background-color: white;
    border: 0.1px;
    border-radius: 20px;
}
.pantalones_boton label{
    border-radius: 20px;
    padding: 3px;
    border: 1px solid black;
}
.pantalones_boton:hover{
    transition:1s;
    transform: scale(1.05);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
 }
.pie{
    border: 10px #000000;
    background-color:#000000;
} 
.instagram_l{
    text-decoration: none;
}
.boton_ig {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
  .boton_ig span {
    margin: 10px;
    text-decoration: none;
  }
  
  .boton_ig::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  .boton_ig:hover {
    color: #7c2863;
    border: 1px solid rgb(252, 174, 255);
  }
  
  .boton_ig:hover::before {
    box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
  }
     .carrito_text{
        margin: auto;
        align-items: center;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
     }
