.container {
    display: grid;
    grid-template-areas: "head head head"
                         "imagenes_ropa imagenes_ropa imagenes_ropa"
                         "foot foot foot";
  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px 100px;
  }
  
  .item-1 { grid-area: head; background: blue; }
  .item-2 { grid-area: menu; background: red; }
  .item-3 { grid-area: main; background: green; }
  .item-4 { grid-area: foot; background: orange; }
  



.barra_arriba {
    background-color: black;
    border: 1px solid #050404;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

.titulo_marca {
    margin: auto;
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 6px rgb(255, 255, 255);
}

.imagenes_ropa {
    border: 5px solid rgb(0, 0, 0);
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.primera_imagen {
    display: inline-block;
    transition: transform 0.3s ease; /* para la transición suave */
}

.primera_imagen:hover {
    display: inline-block;
    transform: scale(1.05); /* para el efecto de movimiento */
}

.segunda_imagen {
display: inline-block;
transition: transform 0.3s ease;
}

.segunda_imagen:hover {
    display: inline-block;
    transform: scale(1.05);
}
.tercera_imagen {
    display: inline-block;
    transition: transform 0.3s ease;
    height: max-content;
        width: max-content;
    }
    
.tercera_imagen:hover {
        display: inline-block;
        transform: scale(1.05);
    }
.imagenes_ropa{
    box-shadow: 10px 10px 20px rgba(2, 12, 104, 0.5);
}

.barra_abajo {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
}
.categoria_src {
    box-shadow: inset;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.lista_ord{
    margin-left: auto;  
}
.lista_ord label{
    display: none;
}
.busq{
    margin-left: auto;
    background-color: rgb(234, 234, 234);
}
.lista_ord :hover{
    transition:1s;
    transform: scale(1.05);
    background-color: black;
    color: white;
}