

.barra_arriba {
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    max-width: 100%;
    height: auto;
}
.carrito{
    a {
        color: rgb(0, 0, 0);
        text-decoration: none; 
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        margin-left: 6px;
      }
    a:visited {
        color: rgb(0, 0, 0); 
      }
      .carrito {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center; 
    }   
      
}
.boton-carro{
    background-color: #050404;
    height: 50px;
    width: 50px;
} 

.titulo_marca {
    margin: auto;
    text-align: center;
    font-size: x-large;
}

.imagenes_ropa {
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
    margin: auto;
    max-width: 1200px;
}

.primera_imagen {
    display: inline-block;
    transition: transform 0.3s ease; /* para la transición suave */
}

.primera_imagen:hover {
    display: inline-block;
    transform: scale(1.05); /* para el efecto de movimiento */
    background-image: url()
}

.segunda_imagen {
display: inline-block;
transition: transform 0.3s ease;
}

.segunda_imagen:hover {
    display: inline-block;
    transform: scale(1.05);
}
.tercera_imagen {
    display: inline-block;
    transition: transform 0.3s ease;
    height: max-content;
        width: max-content;
    }
    
.tercera_imagen:hover {
        display: inline-block;
        transform: scale(1.05);
    }
.imagenes_ropa{
    transition: transform 0.3s ease;
    height: max-content;
        width: max-content;
    }
.imagenes_ropa{
    box-shadow: 10px 10px 20px rgba(2, 12, 104, 0.5);
}

.barra_abajo {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
}
.categoria_src {
    box-shadow: inset;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.lista_ord{
    margin-left: auto;  
}
.lista_ord label{
    display: none;
}
.busq{
    margin-left: auto;
    background-color: rgb(255, 255, 255);
}
.lista_ord :hover{
    transition:1s;
    transform: scale(1.05);
    background-color: black;
    color: white;
}
.carrito :hover{
    transform: scale(0.8);
    transition: 1s;

}
.selecionar_zona{
    margin-left: 20px;
}
.selecionar_zona :hover{
    transition: 1s;
    transform: scale(1.05);
    background-color: black;
    color: white;
}
.titulo_marca{
    margin-left: 350px;
    display: inline-block;
    transition: transform 0.3 ease;
}
.titulo_marca :hover{
    transform: scale(1.10);
    transform: rotate(360deg);
}
.titulo_marca{
    display: inline-block;
font-size: 25px;
font-weight: bold;
text-shadow: 2px 3px 8px;
text-align: center;
top: 5%;
Left: 42% color rgb(81, 30, 14);
padding-bottom: 17px;
}

.titulo_marca span {
color:white;
}
.uno{
display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 3s ease-in-out infinite;
animation-delay: calc(var(--i)*00.1s); 
}
.dos{
    display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 2s ease-in-out infinite;
animation-delay: calc(var(--i)*00.1s); 
}
.tres{
    display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 2.5s ease-in-out infinite;
animation-delay: calc(var(--i)*00.1s); 
}
.cuatro{
    display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 3s ease-in-out infinite;
animation-delay: calc(var(--i)*00.4s); 
}
.cinco{
    display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 1.5s ease-in-out infinite;
animation-delay: calc(var(--i)*00.1s); 

}

.seis{
    display: inline-block;
    animation: wave 1s  ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s); 
    color: white;
    display: inline-block;
    animation: wave 3s ease-in-out infinite;
    animation-delay: calc(var(--i)*00.1s); 
    }
    .siete{
        display: inline-block;
    animation: wave 1s  ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s); 
    color: white;
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    animation-delay: calc(var(--i)*00.1s); 
    }
    .ocho{
        display: inline-block;
    animation: wave 1s  ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s); 
    color: white;
    display: inline-block;
    animation: wave 2.5s ease-in-out infinite;
    animation-delay: calc(var(--i)*00.1s); 
    }
    .nueve{
        display: inline-block;
    animation: wave 1s  ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s); 
    color: white;
    display: inline-block;
    animation: wave 3s ease-in-out infinite;
    animation-delay: calc(var(--i)*00.4s); 
    }
    .diez{
        display: inline-block;
    animation: wave 1s  ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s); 
    color: white;
    display: inline-block;
    animation: wave 1.5s ease-in-out infinite;
    animation-delay: calc(var(--i)*00.1s); 
    }
    .once{
        display: inline-block;
animation: wave 1s  ease-in-out infinite;
animation-delay: calc(var(--i) * 0.1s); 
color: white;
display: inline-block;
animation: wave 3s ease-in-out infinite;
animation-delay: calc(var(--i)*00.4s); 
    }        
@keyframes wave{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
.select-redondo{
    border-radius: 20px;
    padding: 5px;
    border: 1px solid black;
}
.busq input{ 
    border-radius: 10px;
    padding: 3px;
    border: 1px solid black;
}

.busq button{ 
    border-radius: 10px;
    padding: 3px;
    border: 1px solid black;
}